
* {
  margin: 0;
  padding: 0;  
}

body {
  background-color: rgb(230, 233, 234);
  font-family: "Roboto", sans-serif;
  color: rgb(199, 105, 60);
}

html {
  scroll-behavior: smooth;
}

#main-menu {
  position: fixed;
  float: right;
  right: 0;
  z-index: 1;
  justify-content: space-around;
  height: 15vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.2rem;
  padding: 1rem 2rem 0 0 ;
} 

#main-menu, .nav-links {
  display: flex;
}

a {
  color: rgb(199, 105, 60);
  text-decoration: none;
  text-decoration-color: white;
  transition: all 500ms ease-in-out;
}

a:hover {
  color: black;
  transform: scale(1.5);
  transition: all 500ms ease-in-out;
}

#hero {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#yellowSquare {
  background-color: rgb(235, 220, 102);
  /* border: 1rem solid rgb(235, 220, 102); */
  height: 350px;
  width: 350px;
}

#text {
  color: black;
  font-family: "Libre Franklin", sans-serif;
  font-size: 2rem;
  text-align: right;
  padding: 1rem;
}

.allThings {
  margin-top: 4rem;
  margin-right: 1rem;
}

.js {
  margin-top: -1rem;
  font-size: 14rem;
  padding-bottom: 0;
}

.socials {
  list-style: none;
  padding: 1.5rem;
  display: flex;
  height: 15vh;
  width: auto;
  justify-content:right;
  align-items: center;
}

.social-icons {
  position:absolute;
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 1.5rem;
  margin-top: 620px;
  margin-right: 20px;
  font-size: 2rem;
  z-index: 1;
}

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

#about {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 90vh;

}

#carousel{
  width: 40vw;
  min-height: calc((9/16) * 40vw);
  position: relative;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
}

.carouselImg{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
  border: 4px solid rgb(235, 220, 102);
}

ul {
  list-style: none;
}

#carousel img:nth-child(1) {
    animation-name: img1;
    animation-timing-function: steps(1, start);
    animation-duration: 20s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

#carousel img:nth-child(2) {
    animation-name: img2;
    animation-timing-function: steps(1, start);
    animation-duration: 20s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

#carousel img:nth-child(3) {
    animation-name: img3;
    animation-timing-function: steps(1, start);
    animation-duration: 20s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

#carousel img:nth-child(4) {
  animation-name: img4;
  animation-timing-function: steps(1, start);
  animation-duration: 20s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

#carousel img:nth-child(5) {
  animation-name: img5;
  animation-timing-function: steps(1, start);
  animation-duration: 20s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

@keyframes img1 {
0% {
    opacity: 0;
}
20% {
    opacity: 1;
}
40% {
    opacity: 0;
}
60% {
    opacity: 0;
}
80% {
    opacity: 0;
}
100% {
    opacity: 0;
}
}
@keyframes img2 {
  0% {
    opacity: 0;
}
20% {
    opacity: 0;
}
40% {
    opacity: 1;
}
60% {
    opacity: 0;
}
80% {
    opacity: 0;
}
100% {
  opacity: 0;
}
}
@keyframes img3 {
0% {
    opacity: 0;
}
20% {
    opacity: 0;
}
40% {
    opacity: 0;
}
60% {
    opacity: 1;
}
80% {
    opacity: 0;
}
100% {
  opacity: 0;
}
}
@keyframes img4 {
  0% {
      opacity: 0;
  }
  20% {
      opacity: 0;
  }
  40% {
      opacity: 0;
  }
  60% {
      opacity: 0;
  }
  80% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}
@keyframes img5 {
0% {
    opacity: 0;
}
20% {
    opacity: 0;
}
40% {
    opacity: 0;
}
60% {
    opacity: 0;
}
80% {
    opacity: 0;
}
100% {
  opacity: 1;
}
}

#content-main {
  height: auto;
  width: 50%;
  padding: 1rem;
  border: 2px solid black;
  box-shadow: 10px 5px 5px rgb(199, 105, 60);
}

.text-link {
  text-decoration: underline;
}


#events{
  display: flex;
  flex-direction: column;
  text-align: center;
  /* justify-content: center; */
  align-items: center;
  background-color: rgb(230, 233, 234);
  margin-top: 10rem;
  padding: 0;
}

#event-heading {
  margin: 5rem 0 3rem 0;
}

#eventLink {
  text-decoration: underline;
}

#eventLink:hover {
  text-decoration: none;
}

#event-list > li {
  padding: 1rem;
}

#eventList{
  padding: 1rem;
  border: 2px solid black;
  box-shadow: 10px 5px 5px rgb(199, 105, 60);
}