/* Universal Variables */

html {
  scroll-behavior : smooth;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("./src/assets/texture1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

nav {
  align-items: center;
  justify-content: space-between;
}

nav,
.nav-links {
  background-color: #e6e0d5;
  opacity: .92;
  display: flex;
  font-size: 24px;
}



.logo {
  margin-left: 1rem;
  font-weight: bold;
}
.nav-links{
  gap: 2rem;
  margin-right: 1rem;
}

:root {
  --textcolor_main: #121212;
  --main_font: sans-serif;
  --link_color: rgb(0, 138, 180);
}

/* Universal rules */

* {
  text-align: center;
  color: var(--textcolor_main);
  font-family: var(--main_font);
  margin: 0;
}

/* Baseline HTML elements not including major containers or major elements like body*/

h1 {
  font-size: 4rem;
  margin-top: 5%;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: var(--link_color);
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

/* sections */
#front-page, #events {
  position: relative;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
#front-page {
  background-color: #e6e0d5;
  opacity: .92;
  display: flex;
  flex-direction: column;
}

/* Front Page */

#content-main p {
  font-size: 1.25rem;
  font-weight: 600;
}

/* Events */

#carousel{
  /*max-width: 3vw;*/
  width: 40vw;
  min-height: calc((9/16) * 40vw);
  position: relative;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
}

.carouselImg{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
}

#carousel img:nth-child(1) {
    animation-name: img1;
    animation-timing-function: steps(1, start);
    animation-duration: 15s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

#carousel img:nth-child(2) {
    animation-name: img2;
    animation-timing-function: steps(1, start);
    animation-duration: 15s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

#carousel img:nth-child(3) {
    animation-name: img3;
    animation-timing-function: steps(1, start);
    animation-duration: 15s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

@keyframes img1 {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100% {

        opacity: 1;
    }
}
@keyframes img2 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes img3 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#events{
  display:flex;
  background-color: #fff0c9;
  opacity: .92;
  overflow: auto;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-around;
}

#test{
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
}

/* Assets/buttons/icons */

.icon-arrow,
.icon-arrow-home {
  display: block;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 2vw;
  height:auto;
}

